<!-- <input type="file" (change)="onArchivoSeleccionado($event)"> -->
<!-- <div class="col-md-4">
    <h3>Seleccione Archivos</h3>
    <div>
        <h4>Arrastre archivos</h4>
        <li class="btn btn-success" href="#"><label for="file">Cargar FILE</label></li> -->
<!-- <input type='file' name='userFile' id='file' (change)="onArchivoSeleccionado($event.target)" style="display: none" multiple>-->
<!-- <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
    </div>
</div>

<div class="col-md-8">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nombre del archivo</th>
                <th>Tamanio</th>
                <th>pRogreso</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let archivo of archivos">
                <td>{{ archivo.nameArchivo }}</td>
                <td>{{ archivo.archivo.size /1024 / 1024 | number: '.2-2' }} MB</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div> -->


<button mat-raised-button (click)="openUploadDialog()">Upload</button>